v1/dify_file.yml
app:
  description: ''
  icon: '+1'
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 信息检索+舆情分析（web+b站）v2
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tavily:0.1.5@d155ce82c081df2a32a7bf4bd9ded15028dee4cc5c54ad1bd39c9a2726e8cbe4
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.12@37699cc3d1ea9e006348a7273a514f3ddf60ffb0649dc735c594c8da6a80934b
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/json_process:0.0.3@e5d63c6e289bf1974dd55fde5e0347ab108f7df0b95044e292e02e1b41c71668
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 前轮对话收集结果
    id: b761ec20-57b8-4b6f-bce1-e5ab8722e95b
    name: historyinfo
    selector:
    - conversation
    - historyinfo
    value: []
    value_type: array[string]
  - description: ''
    id: 07ea9b5b-edf2-471d-8206-50e95e7ab87e
    name: topics
    selector:
    - conversation
    - topics
    value: []
    value_type: array[string]
  - description: ''
    id: a9049588-f66f-4c3a-a30e-5952a677baa9
    name: nextSearchTopic
    selector:
    - conversation
    - nextSearchTopic
    value: ''
    value_type: string
  - description: ''
    id: 2e0a2539-345c-4723-8b1b-b653e1a0caef
    name: findings
    selector:
    - conversation
    - findings
    value: []
    value_type: array[string]
  - description: ''
    id: 23d208d1-a50d-468c-8757-ad49da0886e1
    name: shouldContinue
    selector:
    - conversation
    - shouldContinue
    value: 'true'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: iteration-start
        targetType: llm
      id: 1739244888446start-source-1739245286499-target
      selected: false
      source: 1739244888446start
      sourceHandle: source
      target: '1739245286499'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: llm
        targetType: tool
      id: 1739245286499-source-1739245446901-target
      selected: false
      source: '1739245286499'
      sourceHandle: source
      target: '1739245446901'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: llm
        targetType: tool
      id: 1739245286499-source-1739245524260-target
      selected: false
      source: '1739245286499'
      sourceHandle: source
      target: '1739245524260'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1739229221219-source-1739245548624-target
      selected: false
      source: '1739229221219'
      sourceHandle: source
      target: '1739245548624'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1739245548624-source-1739244888446-target
      selected: false
      source: '1739245548624'
      sourceHandle: source
      target: '1739244888446'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: if-else
        targetType: tool
      id: 1739245723720-true-1739245424964-target
      selected: false
      source: '1739245723720'
      sourceHandle: 'true'
      target: '1739245424964'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: tool
        targetType: assigner
      id: 1739245446901-source-1739245826988-target
      selected: false
      source: '1739245446901'
      sourceHandle: source
      target: '1739245826988'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: tool
        targetType: assigner
      id: 1739245424964-source-1739246085820-target
      selected: false
      source: '1739245424964'
      sourceHandle: source
      target: '1739246085820'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: tool
        targetType: assigner
      id: 1739245524260-source-1739245826988-target
      selected: false
      source: '1739245524260'
      sourceHandle: source
      target: '1739245826988'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: assigner
        targetType: if-else
      id: 1739245826988-source-1739245723720-target
      selected: false
      source: '1739245826988'
      sourceHandle: source
      target: '1739245723720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: assigner
        targetType: template-transform
      id: 1739246085820-source-1739254060247-target
      selected: false
      source: '1739246085820'
      sourceHandle: source
      target: '1739254060247'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1739254060247-source-1739254296073-target
      selected: false
      source: '1739254060247'
      sourceHandle: source
      target: '1739254296073'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: variable-aggregator
        targetType: answer
      id: 1739254296073-source-1739253994297-target
      selected: false
      source: '1739254296073'
      sourceHandle: source
      target: '1739253994297'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: if-else
        targetType: template-transform
      id: 1739245723720-false-1739254516383-target
      selected: false
      source: '1739245723720'
      sourceHandle: 'false'
      target: '1739254516383'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1739254516383-source-1739254296073-target
      selected: false
      source: '1739254516383'
      sourceHandle: source
      target: '1739254296073'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776778390328'
        sourceType: iteration-start
        targetType: tool
      id: 1776778390328start-source-1776778536282-target
      source: 1776778390328start
      sourceHandle: source
      target: '1776778536282'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776778390328'
        sourceType: tool
        targetType: assigner
      id: 1776778536282-source-1776778574203-target
      source: '1776778536282'
      sourceHandle: source
      target: '1776778574203'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 1776778390328-source-1739246156652-target
      source: '1776778390328'
      sourceHandle: source
      target: '1739246156652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776778390328'
        sourceType: tool
        targetType: template-transform
      id: 1776778536282-source-1776778841977-target
      source: '1776778536282'
      sourceHandle: source
      target: '1776778841977'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776778390328'
        sourceType: template-transform
        targetType: answer
      id: 1776778841977-source-1776861389665-target
      source: '1776778841977'
      sourceHandle: source
      target: '1776861389665'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: answer
      id: 1739244888446-source-1776946362425-target
      source: '1739244888446'
      sourceHandle: source
      target: '1776946362425'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1776946362425-source-1776775338182-target
      source: '1776946362425'
      sourceHandle: source
      target: '1776775338182'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: iteration
      id: 1776946384500-source-1776778390328-target
      source: '1776946384500'
      sourceHandle: source
      target: '1776778390328'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1739246156652-source-1776949093407-target
      source: '1739246156652'
      sourceHandle: source
      target: '1776949093407'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1776949093407-source-answer-target
      source: '1776949093407'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: parameter-extractor
      id: 1777036926643-source-1777037285306-target
      source: '1777036926643'
      sourceHandle: source
      target: '1777037285306'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: answer
      id: 1777037285306-source-1776946384500-target
      source: '1777037285306'
      sourceHandle: source
      target: '1776946384500'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: agent
      id: 1776775338182-source-1777036926643-target
      source: '1776775338182'
      sourceHandle: source
      target: '1777036926643'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - default: '1'
          hint: ''
          label: depth
          options: []
          placeholder: ''
          required: false
          type: number
          variable: depth
      height: 108
      id: '1739229221219'
      position:
        x: -275.0939780015751
        y: 33.116268781879256
      positionAbsolute:
        x: -275.0939780015751
        y: 33.116268781879256
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '

          {{#1739246156652.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 5663.116679160862
        y: 311.61108189041965
      positionAbsolute:
        x: 5663.116679160862
        y: 311.61108189041965
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 1015
        is_parallel: false
        iterator_selector:
        - '1739245548624'
        - array
        output_selector:
        - '1739254296073'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1739244888446start
        title: 迭代
        type: iteration
        width: 1589
      height: 1015
      id: '1739244888446'
      position:
        x: 340.1959605305194
        y: -8.752263342805293
      positionAbsolute:
        x: 340.1959605305194
        y: -8.752263342805293
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1589
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1739244888446start
      parentId: '1739244888446'
      position:
        x: 60
        y: 169
      positionAbsolute:
        x: 400.1959605305194
        y: 160.2477366571947
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        memory:
          query_prompt_template: '## 主题

            {{#sys.query#}}


            ## 当前发现

            /{{#conversation.findings#}}


            ## 已搜索的主题

            {{#conversation.topics#}}

            ## 已收集的数据

            {{#conversation.historyinfo#}}


            /'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            response_format: json_object
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2acdb5a9-823a-4ce3-8dbe-401540a61bc5
          role: system
          text: "您是一个研究代理，负责调查以下主题。\n您发现了什么？还有哪些问题尚未解答？下一步应该调查哪些具体方面？\n\n## 输出\n-\
            \ 请不要输出与已搜索主题完全相同的主题\n- 如果需要进一步搜索信息，请设置nextSearchTopic\n- 如果已获得足够信息，请将shouldContinue设置为false\n\
            - 请以json格式输出\n\n```json\nnextSearchTopic: str | None\nshouldContinue:\
            \ bool \n```\n\n\n"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1739245286499'
      parentId: '1739244888446'
      position:
        x: 184
        y: 147
      positionAbsolute:
        x: 524.1959605305194
        y: 138.2477366571947
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        provider_id: tavily
        provider_name: tavily
        provider_type: builtin
        selected: false
        title: Tavily Search
        tool_configurations:
          days:
            type: constant
            value: 3
          exclude_domains:
            type: constant
            value: null
          include_answer:
            type: constant
            value: 0
          include_domains:
            type: constant
            value: null
          include_image_descriptions:
            type: constant
            value: 0
          include_images:
            type: constant
            value: 0
          include_raw_content:
            type: constant
            value: 0
          max_results:
            type: constant
            value: 5
          search_depth:
            type: constant
            value: advanced
          topic:
            type: constant
            value: general
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          query:
            type: mixed
            value: '{{#conversation.nextSearchTopic#}}'
        type: tool
      height: 321
      id: '1739245424964'
      parentId: '1739244888446'
      position:
        x: 465.1788173171378
        y: 428.21190059722903
      positionAbsolute:
        x: 805.3747778476572
        y: 419.45963725442374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        provider_id: json_process
        provider_name: json_process
        provider_type: builtin
        selected: false
        title: 提取nextSearchTopic
        tool_configurations:
          ensure_ascii:
            type: constant
            value: 1
        tool_label: JSON Parse
        tool_name: parse
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: '{{#1739245286499.text#}}'
          json_filter:
            type: mixed
            value: nextSearchTopic
        type: tool
      height: 87
      id: '1739245446901'
      parentId: '1739244888446'
      position:
        x: 521.9685668669795
        y: 250.685668669792
      positionAbsolute:
        x: 862.1645273974989
        y: 241.9334053269867
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        provider_id: json_process
        provider_name: json_process
        provider_type: builtin
        selected: false
        title: 提取shouldContinue
        tool_configurations:
          ensure_ascii:
            type: constant
            value: 1
        tool_label: JSON Parse
        tool_name: parse
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: '{{#1739245286499.text#}}'
          json_filter:
            type: mixed
            value: shouldContinue
        type: tool
      height: 87
      id: '1739245524260'
      parentId: '1739244888446'
      position:
        x: 525
        y: 134
      positionAbsolute:
        x: 865.1959605305194
        y: 125.24773665719471
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "\ndef main(depth: int) -> dict:\n    depth = depth or 1\n    array\
          \ = list(range(depth))\n    return {\n        \"array\": array,\n      \
          \  \"depth\": depth\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          array:
            children: null
            type: array[number]
          depth:
            children: null
            type: number
        selected: false
        title: 创建数组
        type: code
        variables:
        - value_selector:
          - '1739229221219'
          - depth
          value_type: number
          variable: depth
      height: 51
      id: '1739245548624'
      position:
        x: 13.524289845660377
        y: 39.938851587208816
      positionAbsolute:
        x: 13.524289845660377
        y: 39.938851587208816
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b3169e80-3090-4a5b-8df4-3148d7afcb4d
            value: 'True'
            varType: string
            variable_selector:
            - '1739245524260'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        title: IF/ELSE
        type: if-else
      height: 123
      id: '1739245723720'
      parentId: '1739244888446'
      position:
        x: 81.40078461392295
        y: 424.54058476112846
      positionAbsolute:
        x: 421.59674514444237
        y: 415.78832141832316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - nextSearchTopic
          variable_selector:
          - conversation
          - nextSearchTopic
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1739245524260'
          - text
          variable_selector:
          - conversation
          - shouldContinue
          write_mode: over-write
        - input_type: variable
          operation: append
          value:
          - conversation
          - nextSearchTopic
          variable_selector:
          - conversation
          - topics
          write_mode: over-write
        iteration_id: '1739244888446'
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 135
      id: '1739245826988'
      parentId: '1739244888446'
      position:
        x: 971.5604936231879
        y: 177.15084808483755
      positionAbsolute:
        x: 1311.7564541537072
        y: 168.39858474203226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        items:
        - input_type: variable
          operation: append
          value:
          - '1739245424964'
          - text
          variable_selector:
          - conversation
          - findings
          write_mode: over-write
        iteration_id: '1739244888446'
        selected: true
        title: 变量赋值
        type: assigner
        version: '2'
      height: 83
      id: '1739246085820'
      parentId: '1739244888446'
      position:
        x: 762.175253669222
        y: 412.3695263174238
      positionAbsolute:
        x: 1102.3712141997414
        y: 403.6172629746185
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: "## topic\n{{#sys.query#}}\n\n# findings \n{{#conversation.findings#}}\n"
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: deepseek-reasoner
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 89c17d58-6a63-4f4f-98fe-f6534ec1ecb0
          role: system
          text: "# Role\n你是一位就职于头部科技大厂或顶尖战略咨询机构的资深商业洞察分析师（Business Insight Analyst）。你拥有极高的商业嗅觉，擅长在海量的互联网碎片信息中，精准定位“官方叙事”与“真实口碑”之间的巨大撕裂点。\n\
            \n# Objective\n你的任务是深度融合并交叉比对【全网客观事实】与【社交媒体真实情绪】，不带任何感情色彩地撰写一份直击痛点的商业情报与舆情简报。决策层不需要毫无态度的信息汇总，他们需要你指出致命的盲点或潜在的爆发机会。\n\
            \n# Input Data\n1. 【Web宏观事实/官方叙事】(Deep Research)：{{#conversation.findings#}}\n\
            \   包含标的（企业、产品或事件）近期的官方公告、媒体通稿、产品参数及行业宏观背景。\n2. 【B站舆情与消费者情绪】(Social Sentiment)：{{#1776778390328.output#}}\n\
            \   包含真实消费者、散户对于该标的的最直观反馈、吐槽、造梗或拥护情绪。\n3. 【过往调研档案 (History)】:{{#conversation.historyinfo#}}(注：此项可能为空。如果不为空，它包含了用户在上一轮查询的标的分析结论。)\n\
            \n\n# Analytical Framework (思考链路)\n在撰写报告前，你必须进行以下“预期差”推演：\n- 完美共振：官方宣传的卖点（Web）完美击中了用户的爽点（B站），口碑正在裂变\
            \ = 确认爆款趋势，建议加大营销杠杆。\n- 致命背离：官方新闻在疯狂吹捧某项技术/理念（Web），但 B 站评论区充斥着对核心缺陷的愤怒或嘲笑\
            \ = 典型的公关灾难或产品定位失败，需立即预警。\n- 隐性需求：官方未曾重点提及的功能或细节（Web），却在 B 站引起了极高的讨论热度\
            \ = 发现了未被满足的增量市场，建议产品线跟进。\n# Analytical Framework (思考链路补充) 在生成本次报告时，请严格执行以下逻辑判断：\
            \ - 如果【过往调研档案】为空：仅针对当前输入的新标的进行深度分析。 - 如果【过往调研档案】不为空：你必须在报告中进行“新旧标的”的横向联系对比（例如：与上一轮调研的角色A相比，本次调研的角色B在舆情健康度/核心痛点上有什么本质区别？谁的潜在商业价值/产品力更强？），然后再展开对新标的的独立分析。\n\
            \n# Output Structure\n请严格按照以下结构输出 Markdown 格式的商业洞察报告：\n\n## 一、 核心预期差与战略定调\
            \ (Core Insight)\n[字数限制：200字以内。一针见血地指出当前官方宣发与民间口碑的最大撕裂点或共振点在哪里。明确给出当前的舆情健康度评级：极度危险、暗流涌动、健康发展或爆发前夕。]\n\
            \n## 二、 叙事与现实的交叉验证 (Narrative vs. Reality)\n[结合输入的数据，分点阐述：]\n1. **官方锚点**：目前媒体和企业试图在公众心中植入什么认知？（引用\
            \ Web 核心数据）\n2. **情绪折射**：公众真实买单了吗？他们最真实的关注点和愤怒点集中在哪里？（必须引用具体的 B 站代表性评论或高频吐槽点，并给出各个情绪占比）\n\
            \n## 三、 商业推演与应对策略 (Actionable Strategy)\n- **风险阻断/营销杠杆**：如果作为该企业的操盘手，现在最紧急的产品迭代方向或公关回应口径应该是什么？对于现状有个清晰的描述和分析\n\
            \n# Constraints\n- 语气必须极度客观、一针见血。\n- 拒绝使用“总而言之”、“在这个充满挑战的时代”等陈词滥调。\n-\
            \ 结论必须由具体的文本证据（如某条具体的 B 站评论，或某篇确切的报道）来支撑。"
        selected: false
        title: Reasoning Model
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1739246156652'
      position:
        x: 5091.388872100177
        y: 81.13958489510776
      positionAbsolute:
        x: 5091.388872100177
        y: 81.13958489510776
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1739254296073.output#}}'
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 102
      id: '1739253994297'
      parentId: '1739244888446'
      position:
        x: 1185.456205283395
        y: 817.5124629223612
      positionAbsolute:
        x: 1525.6521658139145
        y: 808.760199579556
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        template: '{{ index + 1 }}/{{ depth }}回合搜索


          '
        title: 搜索捏~
        type: template-transform
        variables:
        - value_selector:
          - '1739244888446'
          - index
          variable: index
        - value_selector:
          - '1739229221219'
          - depth
          variable: depth
      height: 51
      id: '1739254060247'
      parentId: '1739244888446'
      position:
        x: 769.1965398414884
        y: 588.4607625392368
      positionAbsolute:
        x: 1109.3925003720078
        y: 579.7084991964316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1739254060247'
          - output
        - - '1739254516383'
          - output
      height: 133
      id: '1739254296073'
      parentId: '1739244888446'
      position:
        x: 846.594424897309
        y: 809.1926368152558
      positionAbsolute:
        x: 1186.7903854278284
        y: 800.4403734724506
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        template: ' '
        title: 空白
        type: template-transform
        variables: []
      height: 51
      id: '1739254516383'
      parentId: '1739244888446'
      position:
        x: 325.7307650151919
        y: 816.4367334473013
      positionAbsolute:
        x: 665.9267255457113
        y: 807.6844701044961
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        author: stvlynn
        desc: ''
        height: 122
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"使用GPT-4o模型分析用户的初始查询，提取搜索关键词和主题，并判断是否需要进行下一步搜索。输出结果为JSON格式的文本。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 350
      height: 122
      id: '1739285077334'
      position:
        x: 948.80724613123
        y: 449.90497909172234
      positionAbsolute:
        x: 948.80724613123
        y: 449.90497909172234
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 350
    - data:
        context:
          enabled: true
          variable_selector:
          - '1739244888446'
          - output
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 3993c43b-aacc-460b-9a5b-beb7e0b86d0b
          role: system
          text: '基于刚才检索的所有结果{{#1739244888446.output#}}，为我生成 1个最精准的 B 站搜索关键词以及搜索排序方式（排序策略。可选值：totalrank(综合排序，适用于宏观行业与长期趋势),
            pubdate(最新发布，适用于突发事件的应激反应), click(最多点击)。大模型需根据调研场景自主选择。）

            ## 输出

            - 请以json格式输出，绝对不要使用 ```json 和 ``` 这样的 Markdown 代码块标记将结果包裹起来。直接以 { 开始，以
            } 结束。


            ```json

            keyword: str

            sort: str

            ```

            '
        - id: 93c12451-c57a-46bf-a42b-513ebc8b151e
          role: user
          text: "## topic\n{{#sys.query#}}\n\n# findings \n{{#conversation.findings#}}"
        - id: 2b3aa7be-7df9-4bd2-835e-751e29980f86
          role: assistant
          text: ''
        selected: false
        title: b站搜索关键词
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1776775338182'
      position:
        x: 2399.951521389399
        y: -8.752263342805293
      positionAbsolute:
        x: 2399.951521389399
        y: -8.752263342805293
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 439
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1777037285306'
        - bvid
        output_selector:
        - '1776778841977'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1776778390328start
        title: 迭代 2
        type: iteration
        width: 825
      height: 439
      id: '1776778390328'
      position:
        x: 4222.737349714919
        y: 87.28503004688082
      positionAbsolute:
        x: 4222.737349714919
        y: 87.28503004688082
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 825
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1776778390328start
      parentId: '1776778390328'
      position:
        x: 60
        y: 87
      positionAbsolute:
        x: 4282.737349714919
        y: 174.28503004688082
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        default_value:
        - key: text
          type: string
          value: 弹幕或评论区已关闭
        - key: json
          type: array[object]
          value: '[]'
        error_strategy: default-value
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1776778390328'
        paramSchemas:
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: b站视频号
            ja_JP: b站视频号
            pt_BR: b站视频号
            zh_Hans: b站视频号
          label:
            en_US: bvid
            ja_JP: bvid
            pt_BR: bvid
            zh_Hans: bvid
          llm_description: b站视频号
          max: null
          min: null
          name: bvid
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 样本弹幕数量
            ja_JP: 样本弹幕数量
            pt_BR: 样本弹幕数量
            zh_Hans: 样本弹幕数量
          label:
            en_US: danmu
            ja_JP: danmu
            pt_BR: danmu
            zh_Hans: danmu
          llm_description: 样本弹幕数量
          max: null
          min: null
          name: danmu
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 样本评论页数（一页20条）
            ja_JP: 样本评论页数（一页20条）
            pt_BR: 样本评论页数（一页20条）
            zh_Hans: 样本评论页数（一页20条）
          label:
            en_US: comment
            ja_JP: comment
            pt_BR: comment
            zh_Hans: comment
          llm_description: 样本评论页数（一页20条）
          max: null
          min: null
          name: comment
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          bvid: ''
          comment: ''
          danmu: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 4808aeeb-1981-40be-ad2d-b4cf24cf121a
        provider_name: 情绪分析
        provider_type: workflow
        selected: false
        title: 情绪分析
        tool_configurations: {}
        tool_description: 分析视频观众的情绪分布
        tool_label: 情绪分析
        tool_name: emotion_analyze
        tool_node_version: '2'
        tool_parameters:
          bvid:
            type: mixed
            value: '{{#1776778390328.item#}}'
          comment:
            type: constant
            value: 3
          danmu:
            type: constant
            value: 50
        type: tool
      height: 87
      id: '1776778536282'
      parentId: '1776778390328'
      position:
        x: 184
        y: 85
      positionAbsolute:
        x: 4406.737349714919
        y: 172.28503004688082
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        items:
        - input_type: variable
          operation: append
          value:
          - '1776778536282'
          - text
          variable_selector:
          - conversation
          - findings
          write_mode: over-write
        iteration_id: '1776778390328'
        selected: false
        title: 变量赋值 3
        type: assigner
        version: '2'
      height: 83
      id: '1776778574203'
      parentId: '1776778390328'
      position:
        x: 502.03886694226094
        y: 78.18859879812476
      positionAbsolute:
        x: 4724.77621665718
        y: 165.47362884500558
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776778390328'
        selected: false
        template: "{{ item }}分析中，第{{ index+1 }}/3个视频\r\n\r\n"
        title: 模板转换 3
        type: template-transform
        variables:
        - value_selector:
          - '1776778390328'
          - item
          value_type: string
          variable: item
        - value_selector:
          - '1776778390328'
          - index
          value_type: number
          variable: index
      height: 51
      id: '1776778841977'
      parentId: '1776778390328'
      position:
        x: 158.19659090448386
        y: 293.94299399062385
      positionAbsolute:
        x: 4380.933940619403
        y: 381.22802403750467
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        answer: '{{#1776778841977.output#}}'
        isInIteration: true
        isInLoop: false
        iteration_id: '1776778390328'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 102
      id: '1776861389665'
      parentId: '1776778390328'
      position:
        x: 494.35375656958786
        y: 266.94299399062385
      positionAbsolute:
        x: 4717.091106284507
        y: 354.22802403750467
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        answer: '准备搜索视频中



          '
        selected: false
        title: 过程回复
        type: answer
        variables: []
      height: 99
      id: '1776946362425'
      position:
        x: 2043.7943557242947
        y: -20.595097677701403
      positionAbsolute:
        x: 2043.7943557242947
        y: -20.595097677701403
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '待分析视频已确定，请等待分析



          '
        selected: false
        title: 过程回复
        type: answer
        variables: []
      height: 99
      id: '1776946384500'
      position:
        x: 3917.404879317596
        y: 87.28503004688082
      positionAbsolute:
        x: 3917.404879317596
        y: 87.28503004688082
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - '1739246156652'
          - text
          variable_selector:
          - conversation
          - historyinfo
          write_mode: over-write
        selected: false
        title: 变量赋值 4
        type: assigner
        version: '2'
      height: 83
      id: '1776949093407'
      position:
        x: 5363.116679160862
        y: 311.61108189041965
      positionAbsolute:
        x: 5363.116679160862
        y: 311.61108189041965
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '你是一位顶级的量化研究员与另类数据分析师。

              你的任务是调用search_videos工具获取一份 B 站视频列表，并精准筛选出最具“舆情分析价值”的 3 个视频，供后方的自动化情绪系统进行弹幕和评论深挖。



              【筛选评估核心基准】

              请根据视频标题进行预判，严格遵循以下 3 个维度挑选：

              1. 观点碰撞度：优先选择可能存在争议、深度评测或硬核拆解的视频。这类视频通常拥有极高密度的弹幕和评论交锋。

              2. 视角多样性：尽量保证这 3 个视频涵盖不同的受众视角（例如：一个专业科普/评测、一个大众消费者吐槽、一个行业新闻解读），避免选择同质化的内容。

              3. 排除噪音：坚决排除明显的标题党、纯搞笑无营养、或者与核心主题的“预期差”毫不相关的边缘视频。


              【绝对输出限制】

              你是一个没有感情的 API 接口。不要输出任何解释、不要打招呼、不要有任何多余的 Markdown 标记（如 ```json 等）。

              你的回复必须是一个纯粹的 JSON 数组，包含你选中的且仅限 3 个视频的 bvid 字符串。

              -----------------------------------------------



              '
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-chat
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '【当前调研的核心主题：keyword】

              {{#1776775338182.text#}}的keyword

              【搜索的排序方式：sort】

              {{#1776775338182.text#}}的sort

              【候选视频列表】

              运行search_videos获得的数据


              例如：

              "bvid\\\":\\\"BV12LXgBqEbQ\\\",\\\"title\\\":\\\"勇闯字节暑期实习！猜猜拿到Offer了没有？\\\"},{\\\"bvid\\\":\\\"BV1SkwuzaEib\\\",\\\"title\\\":\\\"26字节暑期实习面试竟然遇到变种算法题？\\\"}{\\\"bvid\\\":\\\"BV1nPPwzAELb\\\",\\\"title\\\":\\\"考研下岸春招开启！字节跳动压力面！\\\"}


              提取格式范例：：["BV12LXgBqEbQ", "BV1SkwuzaEib", "BV1nPPwzAELb"]'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 根据大模型研判的关键词、排序策略和时长区间，跨分区检索 B 站视频。获取最高价值的情绪样本锚点供后续管线深挖。
              parameters:
                keyword:
                  auto: 1
                  value: null
                order_type:
                  auto: 1
                  value: null
                page:
                  auto: 1
                  value: null
                time_range:
                  auto: 1
                  value: null
              provider_name: 3c20184e-ad24-493c-bff3-f73c68f1d725
              provider_show_name: b站视频搜索
              settings: {}
              tool_description: 根据大模型研判的关键词、排序策略和时长区间，跨分区检索 B 站视频。获取最高价值的情绪样本锚点供后续管线深挖。
              tool_label: search_videos
              tool_name: search_videos
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.34@4b41a374567eb7cb226ee2f851513794566956008f1166c63205efc921be72d8
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 187
      id: '1777036926643'
      position:
        x: 3167.1233719682755
        y: 15.351110775917505
      positionAbsolute:
        x: 3167.1233719682755
        y: 15.351110775917505
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        instruction: 你是一个无情的转化器，从获取到的数据中提取三个视频号并转化为arry格式
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: 提取到的三个b站视频
          name: bvid
          required: true
          type: array[string]
        query:
        - '1777036926643'
        - text
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 87
      id: '1777037285306'
      position:
        x: 3570.8927926647807
        y: 39.938851587208816
      positionAbsolute:
        x: 3570.8927926647807
        y: 39.938851587208816
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -35.48281139607775
      y: 49.1864683575659
      zoom: 0.5743491774985179
  rag_pipeline_variables: []
